<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/logos/favicon.ico">
    <title>Check-in</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <style type="text/css">
      body {
        background-color: #000050;
        color: #159dcd;
        padding-top: 2em;
      }
    </style>
  </head>
  <body style="">
    <div class="container">
        {% block main %}{% endblock %}
    </div>
  </body>
</html>
